.leekBg {
	background: url(../images/leekboard.svg) no-repeat fixed center;
	background-size: 80%;
}

.transparentBackground {
	background-color: white;
	opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.frontWrapper {
    z-index: 1;
    background-color: gray;
	background-color: rgba(1, 1, 1, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.settings {
	text-align: center;
	position: relative;
	top: 10%;
	left: 20%;
	background-color: white;
	border-radius: 10px;
	width: 60%;
    max-width: 1200px;
	padding-top: 1px;
	padding-bottom: 6px;
	padding-right: 15px;
}

.keySettings {
	width: 30%;
	left: 35%;
}

.hidden {
	display: none;
}

.key {
	width: 70px;
	height: 30px;
	position: absolute;
	font-size: 6pt;
}

table.settings {
	width: 100%;
	margin-bottom: 4px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.record {
	border-radius: 50%;
	background-color: #ff0000;
	height: 1vw;
	width: 1vw;
}

.recordButton {
	padding: .4em 1em;
}

.recording {
	color: red;
}

.recordMicButton {
	width: auto;
}

table.header {
	width: 99%;
	text-align: center;
	position: fixed;
}

td.header {
	width: 20%;
}

.import {
	width: 98%;
}

.noSound {
	background-color: red;
}

.pending {
	background-color: yellow;
}

.playing {
	background-color: green;
}

.rightFooter {
	position: fixed;
	bottom: 2%;
	right: 2%;
	min-width: 10%;
}

.leftFooter {
	position: fixed;
	bottom: 2%;
	left: 2%;
	min-width: 10%;
}

.sourceSelect {
	width: 80%;
}

.switch {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.fullHeight {
	height: 100%;
}

svg.mainKey {
	height: 200px;
	padding: 0;
	position: relative;
	right: -50%;
	z-index: -1;
}

div.mainKey {
	position: fixed;
	bottom: 100px;
	right: 50%;
	display: none;
}

.pianoLabel {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	text-align: right;
	white-space: nowrap;
}

.pianoLabelWrapper {
	position: fixed;
	bottom: 60px;
	overflow: hidden;
	height: 200px;
	text-align: right;
	width: 15px;
}

.blackKeyLabel {
	bottom: 160px;
	color: white;
	height: 100px;
}

iframe.guide {
	left: 2%;
	width: 96%;
	height: 100%;
	border: none;
}

div.guide {
	height: 80%;
}

.black {
	Background-color: black;
}

.fullScreen {
	width: 100%;
	height: 100%;
}

.number {
    width: 50%;
}

.large {
    width: 100%;
}

.presetSelect {
    width: 30%;
    padding: 10px 0 0 10px;
}

.timelineContainer {
    width: auto;
    display: table-cell;
}

.timelineTable {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.lastTimeline {
    display: table-cell;
}

.timelineHead {
    border-collapse: collapse;
}

.timelineBar {
    position: absolute;
    top: 0;
    border: 1px solid black;
}

.noPadding {
    padding: 0;
    position: relative;
}

.selectedBar {
    background-color: #3daee9;
}

.clickable {
    cursor: pointer;
}

.clickable.ui-draggable-dragging {
    cursor: ew-resize;
}

.waveformCanvas {
    width: 100%;
    height: 80px;
}
