.cmn-toggle {
	position: absolute;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}
input.cmn-toggle-round + label {
	padding: 2px;
	width: 30px;
	height: 16px;
	background-color: #dddddd;
	border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #f1f1f1;
	border-radius: 60px;
	transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
	width: 16px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
	margin-left: 16px;
}
